<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1>Game of Life</h1>
        <p class='subhead'>Conway's Game of Life on Rails</p>
        <p class='subhead'>Revolutions: <span id="revolutions">0</span></p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <canvas id="canvas" width="1920" height="1200"></canvas>
    </div>
    <div class="controls col-md-2">
      <button type="button" class="start btn btn-primary">Start</button>
      <button type="button" class="stop btn btn-warning">Stop</button>
      <button type="button" class="clear btn btn-warning">Clear</button>
      <button type="button" class="randomize btn btn-warning">Randomize</button>
      <input id="ex4" type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="5" data-slider-orientation="vertical"/>
      <p class="speed">Speed</p></br>
      <p class="instructions">Press start. Or press clear, select a pattern and click on grid to draw.</p>
      <h4>Patterns of Life</h4>
      <div class="radio">
        <label><input type="radio" name="pattern" value="cell" checked> Cell</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="pattern" value="glider"> Glider</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="pattern" value="lightweight"> Lightweight Spaceship</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="pattern" value="heavyweight"> Heavyweight Spaceship</label>
      </div>
      <div class='legend-container'>
        <canvas id="legend" width="20" height="50"></canvas>
        <p class="legend-name">Dead Cell</p>
        <p class="legend-name">Live Cell</p>
      </div>
    </div>
  </div>
</div>  
