<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1>Game of Life</h1>
        <p>Conway's Game of Life on Rails</p>
        <p>Revolutions: <span id="revolutions">0</span></p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <canvas id="canvas" width="1150" height="600"></canvas>
    </div>
    <div class="controls col-md-2">
      <button type="button" class="start btn btn-primary">Start</button>
      <button type="button" class="stop btn btn-warning">Stop</button>
      <button type="button" class="btn btn-warning">Clear</button>
      <button type="button" class="btn btn-warning">Randomize</button>
      <input id="ex4" type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical"/>
    </div>
  </div>
</div>  
