@import "bootstrap";
@import 'bootstrap-slider';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container-fluid {
}

header {
  margin-top: 20px;
  text-align: center;
}

.btn {
  display: block;
  margin-bottom: 5%;
  float: right;
  clear: both;
}

.stop { display: none; }

p.subhead { margin-top: -3px; }

#canvas {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background: black;
  clear: both;
}

.controls {
  float: right;
  margin-right: 2%;
  padding: 1%;
  background: lightgoldenrodyellow;
  border-radius: 10px;
  .speed {
    position: relative;
    top: 10px;
    margin-bottom: 8px;
  }
}

.legend-container {
  margin-top: 7%;
}

#legend {
  top: 3px;
  position: relative;
  float: left;
}

p.legend-name {
  position: relative;
  margin-bottom: 3.5px;
}

.slider {
  display: block;
}

.instructions {
  margin-top: 3%;
  font-weight: bold;
}

@media (max-width: 1221px) { 
  .btn { 
    margin-left: 4%;
    margin-right: 0; 
  }
}

@media (max-width: 991px) { 
  .controls { 
    margin-left: -2%;
  }
}


@media (max-width: 768px) {
  .btn {
    float: right;
    margin-bottom: 1.5%;
  }
}